@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: "Bozon Bold";
    src: url(../font/ROHHBozonBold.otf);
}
@font-face {
    font-family: "Bozon Regular";
    src: url(../font/ROHHBozonRegular.otf);
}
$text-main:#231815;
$main-color:#FE5000;
$white:#FFFFFF;
$gray-f7:#F7F7F7;
$gray-f2:#F2F2F2;
$gray-b4:#B4B4B5;
$gray-44:#444444;
$font-bozonBold:"Bozon Bold";
$font-bozonRegular:"Bozon Regular";

body {
    font-family: 'Noto Sans TC', sans-serif;
    color: $text-main;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: $text-main;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: $text-main;
    }
}

input {
    border: 0;
    background-color: transparent;
    outline: none;
    &::placeholder {
        color: #414141;
    }
}

main {
    padding-top: 125px;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    // max-width: 1500px;
}

.header {
    width: 100%;
    height: 125px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 210px;
    // padding-left: calc((100vw - 1500px) / 2);
    z-index: 10;
    &_logo {
        height: 60px;
        display: block;
        img {
            height: 100%;
        }
    }
    &_right {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &_nav {
        height: 100%;
        ul {
            display: flex;
            height: 100%;
            li {
                width: 175px;
                height: 100%;
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    font-size: 22px;
                }
            }
        }
    }
    &_search {
        height: 100%;
        padding: 0 41px;
        background-color: $gray-f2;
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
            width: 24px;
            margin-right: 10px;
        }
        span {
            font-size: 22px;
        }
        &-m {
            display: flex;
            width: 195px;
            border-radius: 5px;
            background-color: $gray-f2;
            padding: 10px;
            img {
                width: 15px;
            }
            input {
                width: calc(100% - 15px);
                padding: 0 10px;
            }
        }
    }
    &_menu {
        width: 20px;
        margin-left: 20px;
        transform: translateY(-3px);
        img {
            width: 100%;
        }
    }
}

.title {
    &-common {
        font-size: 50px;
        text-align: center;
        margin: 0;
        color: #000;
        font-weight: 700;
        margin-bottom: 95px;
        span {
            color: $main-color;
        }
    }
}

@media screen and (max-width:1600px) {
    .header {
        padding-left: 150px;
    }
    .container {
        max-width: 1400px;
    }
}

@media screen and (max-width:1399px) {
    .header {
        height: 100px;
        &_logo {
            height: 50px;
        }
        &_nav {
            ul {
                li {
                    width: 150px;
                    a {
                        font-size: 20px;
                    }
                }
            }
        }
        &_search {
            padding: 0 35px;
            span {
                font-size: 20px;
            }
        }
    }
    main {
        padding-top: 100px;
    }
}

@media screen and (max-width:1199px) {
    .header {
        padding: 0 30px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.15);
        &_nav {
            position: fixed;
            width: 100vw;
            background-color: $white;
            top: 100px;
            left: 0;
            height: auto;
            z-index: 1;
            display: none;
            ul {
                display: block;
                padding: 20px 28px;
                li {
                    background-image: url(../img/nav-arrow.svg);
                    background-size: 11px;
                    background-position: calc(100% - 17px) center;
                    background-repeat: no-repeat;
                    width: 100%;
                    a {
                        padding: 17px;
                        width: 100%;
                        display: block;
                    }
                    &:hover {
                        background-color: $main-color;
                        background-image: url(../img/nav-arrow-white.svg);
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
        &_right {
            justify-content: flex-end;
        }
    }
    .title {
        &-common {
            font-size: 40px;
        }
    }
}

@media screen and (max-width:575px) {
    .header {
        height: 60px;
        &_logo {
            height: 30px;
        }
        &_search {
            &-m {
                padding: 5px 10px;
            }
        }
        &_nav {
            top: 60px;
        }
    }
    main {
        padding-top: 60px;
    }
}

@media screen and (max-width:470px) {
    .header {
        padding: 0 20px;
        &_search {
            &-m {
                width: calc(100vw - 130px - 20px - 80px);
            }
        }
        &_menu {
            margin-left: 10px;
        }
    }
    .title-common {
        font-size: 32px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}


@media screen and (min-width:1400px) {
    .container {
        max-width: 1320px;
    }
}

@media screen and (min-width:1600px) {
    .container {
        max-width: 1500px;
    }
}